PORT=3333
# 디스코드 애플리케이션 정보를 입력하세요
DISCORD_CLIENT_ID=your_client_id_here
DISCORD_CLIENT_SECRET=your_client_secret_here

# 디스코드 개발자 포털의 Redirect URI에도 반드시 아래 주소를 똑같이 등록하세요. 
# 배포시에는 배포 도메인으로 변경해야 합니다!
DISCORD_CALLBACK_URL=http://localhost:3333/auth/discord/callback
SESSION_SECRET=a_very_secure_secret_key

# 파일 업로드 권한을 줄 디스코드 서버(길드)와 역할(Role) ID를 기재해주세요.
# 형식: 서버ID:역할ID,서버ID:역할ID,...
# 만약 특정 서버는 역할 상관없이 접속만 해있다면 전부 업로드하게 하고 싶다면 '서버ID:' 처럼 역할ID를 비워두세요.
# 여러 개 지정 시 쉼표(,)로 구분합니다. 
# 예시 1: 112233:998877 (특정역할 필수)
# 예시 2: 112233:,334455:998877 (112233 서버는 소속만 되면 허가, 334455 서버는 특정 역할 필수)
# (비워두면 디스코드 로그인만으로 누구나 업로드 가능하게 됨)
ALLOWED_GUILDS=your_guild_id_here:your_role_id_here

UPLOAD_DIR=uploads
